.email-box {
  width: 150px;
  font-size: 13px;
}

.active {
  background-color: #337ab7;
  color: #fff !important;
}

.text-color {
  color: #000;
}

.text-color:hover {
  background-color: #337ab7;
  color: #fff !important;
}
