.header-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgray;
  padding: 20px;
}

.header-left {
  text-align: left;
}

.header-right {
  text-align: left;
}

.body-detail {
  text-align: left;
  white-space: pre-line;
  padding: 20px;
}
